<h2>About Event Driven QoS</h2>
<p>
  Event Driven QoS uses the Cisco APIC-EM APIs to dynamically adjust
  quality of service (QoS) policies based on external events.

  This web application serves two purposes. First, it allows for causing
  events and showing feedback in near real time of the change in policy.
  Secondly, it can be used solely as a visualization of the current state
  of the applications being controlled by external event sources.
</p>
