<h2>Currently defined APIC-EM policy tags</h2>

<div class="list-group">
    {{#each model as |tag|}}
      <article class="policy">
        <a href="#" class="list-group-item">{{tag}}</a>
      </article>
    {{/each}}
</div>
