<h2>Currently defined APIC-EM policy tags</h2>

<div class="list-group">
  {{#each model as |tag|}}
    {{policy-item item=tag}}
  {{/each}}
</div>

<div class="apps-list">
  <p>app list will appear here</p>

  {{ui-slider
       ticks='0,200,400'
       ticksLabels='Relevant,Default,Not Relevant'
       ticksSnapBounds=199
       mood='rag'
       sections=3
       tooltip='hide'
       min=0
       max=400
       defaultValue=200
       immediateResponse=false }}
</div>
